<h1>Digimon</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Characters</h3>
        <hr>
        <ul>
            <li *ngFor="let digimon of digimons">{{ digimon.name }} - {{ digimon.type }}</li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="add()">
            <input placeholder="Name" name="name" type="text" [(ngModel)]="digimon.name"/>
            <input placeholder="Type" name="type" type="text" [(ngModel)]="digimon.type"/>
            <button type="submit">
                Add
            </button>
        </form>
    </div>
</div>
